<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Iris</title>
</head>

<body>
    <div class="container px-4">
        <div class="container px-4">
            <br>
            <h2>Iris dataset</h2>
            <div class="mb-3 border rounded" style='padding: 5px;'>
                <form method="post" action="{{url_for('procesar')}}">             
                 
                    <div class='row'>
                        <div class="col">
                            <label for="column" class='form-label'>Columna</label>
                            <select class="form-select" name="column" aria-label=".form-select-sm example">
                                {% for col in column %}
                                <option value="{{ col }}" SELECTED>{{ col }}</option>    
                                {% endfor %}     
                              </select>
                        </div>    
                        <div class="col">
                            <label for="bins" class='form-label'>Bins</label>
                            <input name="bins" required type="number" placeholder="12" class="form-control">
                        </div>
                    </div>
                    <br>

                    <input type="submit" value="Enviar" class="btn btn-primary mb-3">
                </form>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    
</body>
</html>
